$maxWidth: 1200px;
$padding: 2rem;
$boxShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);

// Colors
$dark: #202020;
$primary: #f2669a;
$secondary: #4e346a;
$accent: #d34a6d;
$light: #fdeaf7; // light pink

// #FDEAF7 light pink
// #F199CA pink
// #F2669A pink
// #99669D light purple
// #4E346A Dark Purple
// #694D90 purple
// #D34A6D pinkish red
