.bio {
  background: $light;

  h1 {
    margin-bottom: 2rem;
  }

  .signature-box {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    justify-content: start;
    align-items: center;
  }

  .signature {
    font-family: cursive;
  }

  .signature:nth-child(2) {
    margin-bottom: 0;
  }

  @media screen and (max-width: 600px) {
    .image.left,
    .image.right {
      float: unset;
      max-width: unset;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
