.cours {
  background: $light;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
  }

  h1 {
    flex: 100%;
    text-align: center;
  }

  p:last-of-type {
    margin-bottom: 0;
    color: $accent;
  }

  .title {
    font-weight: 700;
  }
}
