.header {
  color: white;
  background: url(../../images/jd-mason-xCPdjitY5sQ-unsplash.jpg) center
      center/cover no-repeat,
    rgb(20, 20, 20);
  position: relative;
  z-index: 2;

  .overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.55);
    z-index: -1;
  }

  .container {
    padding-top: 2rem;
  }

  .hero {
    padding: 6rem 0;
    text-align: center;
    text-shadow: 1px 1px 1px $dark;

    p {
      font-size: 1.3rem;
      letter-spacing: 1px;
      max-width: 400px;
      margin: 0 auto;
      // margin-top: 2rem;
    }
  }

  .accent {
    color: $primary;
  }
}
