.references {
  background: $secondary;
  color: white;

  .container {
    max-width: 800px;
    position: relative;
    z-index: 1;
  }

  .title {
    margin: 0 auto;
    margin-bottom: 3rem;
    text-align: center;
    line-height: 1.6;
    max-width: 600px;
  }

  .reference {
    margin-bottom: 3rem;
  }

  .reference:nth-of-type(even) {
    margin-left: auto;
  }

  .bg-art {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    width: 60%;
    opacity: 0.1;
    z-index: -1;

    img {
      width: 100%;
      z-index: -1;
    }
  }
}
